* { box-sizing: border-box; }

body {
    margin: 0;
    font-family: sans-serif;
}

.mask {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    animation: slide-out 3s;
    position: relative;
    transform: rotateY(90deg);
}

.title {
    width: 386px;
    height: 74px;
    margin: 0 auto;
    position: relative;
    bottom: 147px;
    animation: slide-fade-in 4s;
    color: white;
}

.title img {
    width: 386px;
    height: 74px;
}

.header {
    width: 100vw;
    height: 100vh;
    padding-top: 30vh;
    background-image: url("static/bg.jpg");
    background-size: cover;
    text-shadow: 0 0 5px black;
    font-weight: bold;
}

.nav {
    animation: fade-in 4s;
    width: 420px;
    height: 3em;
    margin: 0 auto;
}

.nav a {
    width: 11em;
    height: 3em;
    padding: 10px;
    border: solid white 3px;
    text-align: center;
    letter-spacing: 7px;
    font-weight: 300;
    display: inline-block;
    text-decoration: none;
}

.nav-gh {
    margin-right: 20px;
    color: white;
}

.nav-hp {
    margin-left: 20px;
    background: white;
    color: black;
}

.footer {
    color: white;
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 10px;
}

.main {
    padding: 20px;
    background: #fffff5;
}

.main img {
    width: 70vw;
}

h2 small {
    color: gray;
    font-size: 70%;
}

pre {
    color: gray;
    border-left: solid 2px gray;
    padding: 10px;
    font-family: Consolas, Menlo, Monaco, Courier, monospace;
}

.main h2 {
    font-family: Consolas, Menlo, Monaco, Courier, monospace;
    border-top: solid #ddd 1px;
    padding: 10px;
}

code {
    background-color: #aaa;
    color: #fff;
    font-family: Consolas, Menlo, Monaco, Courier, monospace;
    border-radius: 3px;
    padding: 0 5px;
}

.copyright {
    color: #aaa;
    text-align: center;
}
@keyframes slide-out {
    from {
        right: 0;
        transform: rotateY(0);
    }
    33% {
        right: 0;
        transform: rotateY(0);
    }
    to {
        right: 400px;
        transform: rotateY(90deg);
    }
}

@keyframes slide-fade-in {
    from {
        right: 100px;
        opacity: 0;
    }
    25% {
        right: 100px;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    33% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media all and (max-width: 420px) {
    .nav {
        width: 210px;
    }
    .nav a {
        margin: 5px;
    }
    .title {
        width: 193px;
    }
    .title img {
        width: 193px;
        height: 37px;
    }
}
